*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Roboto, sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    background: url("../img/header/header-background.png") center center/cover no-repeat;
}
.header-content{
    width: 1160px;
    height: 293px;
}

.header-content .header-contact span{
    color: #000000;
    font-size: 12px;
    font-weight: 700;
}

.header-contact{
    padding-top: 40px;
}
.header-logo{
    padding-top: 20px;
}
.head-title{
    color: #000000;
    font-size: 48px;
    font-weight: 300;
    line-height: 48px;
}

.header-row{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer{
    height: 140px;
    background: url("../img/header/header-background.png") center center/cover no-repeat;
}
.footer-contents{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.footer-contacts{
    padding-top: 20px;
}
.footer-contacts span, .footer-contacts address{
    color: #000000;
    font-size: 12px;
    font-weight: 700;
}
.bottom{
    display: block;
    padding-top: 12px;
}
.footer-logo{
    margin-right: 25px;
}


.form-name{
    width: 457px;
    height: 40px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    border-radius: 3px;
    padding-left: 3px;
}

.form-text{
    width: 457px;
    height: 130px;
    border: 2px solid #000000;
    background-color: #f9f9f9;
    padding-left: 3px;
}

h3{
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}
form{
    width: 460px;
    padding-bottom: 100px;
}
.add_comment{
    width: 130px;
    height: 40px;
    border: 2px solid #000000;
    background-color: #eeeeee;
    border-radius: 5px;

    color: #000000;
    font-size: 18px;
    font-weight: 300;
    float: right;

}

.comments{
    background: url("../img/bg/bg.png") center center/cover no-repeat;
}
.commnet-name{
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: #000000;
}

.block{
    padding:10px;
}